.webgl__return-button {
    display: flex;
    width: 150px;
    height: 40px;
    padding: 0 12px;
    background-color: #F09947;
    color: #FFF;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.webgl__return-caption {
    margin: 5px auto
}

.webgl__return-icon {
    font-size: 20px;
    margin: 3px auto;
}

.webgl__return-button:hover {
    padding: 0 10px;
    width: 160px;
    height: 45px;
    top: 7.5px;
    left: 15px;
}

.webgl__return-button:hover .webgl__return-caption {
    font-size: 22px;
    margin-top: 7.5px;
}

.webgl__return-button:hover .webgl__return-icon {
    font-size: 22px;
    margin-top: 6px
}